<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "readdit.png" %>
	</div>
  
	<div id="content">
		<h1>Readdit</h1>
		<p>Readdit allows you to post, vote on, share, and favorite links and comments.</p>
		<a href="https://github.com/ver2point0/Readdit">Source Code</a> ||
		<a href="http://readdit-app.herokuapp.com">Demo</a>
	</div>
</div>

<br><br><br><br><br>

<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "missionObjective.png" %>
	</div>
	
	<div id="content">
		<h1>Mission Objective</h1>
		<p>If you choose to accept your mission, you will have 7 days to complete each objective. Incomplete objectives are terminated. Remember, failure is not an option!</p>
	  <a href="https://github.com/ver2point0/Mission-Objective">Source Code</a> ||
		<a href="http://mission-objective.herokuapp.com">Demo</a>
	</div>
</div>

<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "hungryCards.png" %>
	</div>
	
	<div id="content">
		<h1>Hungry Cards</h1>
		<p>Hungry cards is a recipe application. Create and share the recipes you love.</p>
	  <a href="https://github.com/ver2point0/hungry-cards">Source Code</a> ||
		<a href="https://hungrycards.herokuapp.com">Demo</a>
	</div>
</div>

<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "stashHub.png" %>
	</div>
	
	<div id="content">
		<h1>Stash Hub</h1>
		<p>Stash hub is your place to collect the things you find most interesting and vote on your favorites.</p>
	  <a href="https://github.com/ver2point0/stash-hub">Source Code</a> ||
		<a href="http://stashhub.herokuapp.com">Demo</a>
	</div>
</div>

<br><br><br><br>

<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "colorWords.png" %>
	</div>
	
	<div id="content">
		<h1>Color Words</h1>
		<p>An Android game built in Unity to match colors, score points, and post them to leaderboards.</p>
		<a href="https://play.google.com/store/apps/details?id=com.ver2point0.colorwords">Download</a> ||
		<a href="https://www.youtube.com/watch?v=Xb4oFcv2T3o">Demo</a>
	</div>
</div>